[submodule "lib/tf-models"]
	path = lib/tf-models
	url = https://github.com/tensorflow/models.git
[submodule "lib/tensorflow"]
	path = lib/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "lib/flatbuf"]
	path = lib/flatbuf
	url = https://github.com/google/flatbuffers.git
[submodule "lib/gatenet-jevois"]
	path = lib/gatenet-jevois
	url = https://github.com/phildue/gatenet-jevois
[submodule "doc/lib/darknet"]
	path = doc/lib/darknet
	url = https://github.com/pjreddie/darknet.git
[submodule "lib/darknet"]
	path = lib/darknet
	url = https://github.com/pjreddie/darknet
[submodule "lib/keras-spp"]
	path = lib/keras-spp
	url = https://github.com/yhenon/keras-spp.git
[submodule "lib/dronerace2018"]
	path = lib/dronerace2018
	url = https://github.com/phildue/dronerace2018.git
