
[submodule "tools/utils"]
	path = tools/utils
	url = https://github.com/phildue/droneutils.git
[submodule "tools/samplegen"]
	path = tools/samplegen
	url = https://github.com/phildue/samplegen
[submodule "tools/lab"]
	path = tools/lab
	url = https://github.com/phildue/gatedetector.git
