[submodule "dvlab"]
	path = dvlab
	url = https://github.com/phildue/dvlab.git
[submodule "samplegen"]
	path = samplegen
	url = https://github.com/phildue/samplegen
[submodule "droneutils"]
	path = droneutils
	url = https://github.com/phildue/droneutils.git
